.container {    
    width: 400px;    
    margin: 0 auto;    
    margin-top: 80px;     
        
    .form {        
        width: 210px;        
        margin: 0 auto;    
    }     

    .cadastro-form {        
        margin-left: 5px;        
        font-size: 9pt;    
    } 
}